<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css" />
    <link rel="stylesheet" href="../static/css/navbar.css" />
    <title>Addstock</title>
</head>
<body>
     <nav class="navbar">
        <div class="navbar-container-nav container-nav">
          <input type="checkbox" name="" id="" />
          <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
          </div>
          <ul class="menu-items">
            <li><a href="/">Home</a></li>
            <li><a href="/list/{{email}}">Dashboard</a></li>
            <li><a href="/addstockspage">New stocks</a></li>
            <!-- <li><a href="#">List</a></li> -->
          </ul>
          <h1 class="logo">IMS</h1>
        </div>
      </nav> 
    <main class="main">
        
        <div class="container">
            <!-- <nav class="navbar">
                <div class="navbar-container container">
                <input type="checkbox" name="" id="" />
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                <ul class="menu-items">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">New stocks</a></li>
                    <li><a href="#">List</a></li>
                </ul>
                <h1 class="logo">IMS</h1>
                </div>
            </nav> -->
          <section class="wrapper">
            <div class="heading">
              <h1 class="text text-large">Add new stocks</h1>
              
            </div>
            <p>{{msg}}</p>
            <form class="form" method="post" action="/addstocks">
              <div class="input-control">
                
                <label for="name" class="input-label" hidden
                  >Name</label
                >
                <input
                  type="name"
                  name="name"
                  id="name"
                  class="input-field"
                  placeholder="Name"
                />
              </div>
              <div class="input-control">
                <label for="quantity" class="input-label" hidden>Quantity</label>
                <input
                  type="text"
                  name="quantity"
                  id="quantity"
                  class="input-field"
                  placeholder="Quantity"
                />
              </div>
              <div class="input-control">
                <label for="price" class="input-label" hidden>Price</label>
                <input
                  type="text"
                  name="price"
                  id="price"
                  class="input-field"
                  placeholder="price"
                />
              </div>
              <div class="input-control">
                <label for="total" class="input-label" hidden>Total</label>
                <input
                  type="text"
                  name="total"
                  id="total"
                  class="input-field"
                  placeholder="total"
                />
              </div>
              <div class="input-control">
                <!-- <a href="#" class="text text-links">Forgot Password</a> -->
                <input
                  type="submit"
                  class="input-submit"
                  value="Add Stock"
                />
              </div>
            </form>
            
            </div>
          </section>
        </div>
      </main>
</body>
</html>