<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/navbar.css" />
    <link rel="stylesheet" href="../static/css/img.css" />
    <title>Home</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-container-nav container-nav">
        <input type="checkbox" name="" id="" />
        <div class="hamburger-lines">
          <span class="line line1"></span>
          <span class="line line2"></span>
          <span class="line line3"></span>
        </div>
        <ul class="menu-items">
          <li><a href="#">Home</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">New stocks</a></li>
          <!-- <li><a href="#">List</a></li> -->
        </ul>
        <h1 class="logo">IMS</h1>
      </div>
    </nav>
    <div style="text-align: center; padding-top: 120px">
      <div class="example">
        <img
          src="https://images.unsplash.com/photo-1616401784845-180882ba9ba8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGludmVudG9yeSUyMG1hbmFnZW1lbnQlMjBzeXN0ZW18ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
        />
        <p>Inventory managment system</p>
      </div>
    </div>
  </body>
</html>
